body {background: linear-gradient(to right, #fff, #a5c2f1);}

header h1 {text-align: center; color: #000; font-size: 3em; font-family: cursive;}

article h2 {text-align: left; font-size: 1.6em; font-weight: bold;}

article {margin: 5em;}

table {border: 1px solid #000; border-collapse: collapse; margin: 0 auto;  width: 85%;}
	
caption {font-size: 2.5em; font-weight: bold; padding: 1.5%;}
	
td {padding: .8em; font-size: 1em; text-align: center;}
	
td, th {border: 1.5px solid #000;}
	
th {background-color: #090942; color: #fff; font-size: 1.15em; text-align: center;}
	
tr {background-color: #fff;}
	
tr:nth-child(even) {background-color: #a5c2f1; border: 1.5px solid #000;}

h3 { font-size: 1.5em; text-align: center;}



